<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete/Update Student Data</title>
</head>
<body>
<form action="Register" method="POST">
        {%csrf_token%}
        <table>
            <tr>
            <td>Enter And Select Data By which you want to search student Below :</td>
            </tr>
            <tr>
            <td>ID :</td>
            <td><input type="text" name="id" placeholder="Enter id"  id="id" style="width:160px"/></td>
            </tr>
            <tr>
            <td>First Name :</td>
            <td><input type="text" name="fname" placeholder="First Name"  id="First Name" style="width:160px"/></td>
            </tr>
            <tr>
            <td>Last Name :</td>
            <td><input type="text" name="lname" placeholder="Last Name"  id="Last Name" style="width:160px"/></td>
            </tr>

            <tr>
                <td>Search By</td>
                <td>
                    <select name="searchBy">
                        <option value="id">ID</option>
                        <option value="fname">First Name</option>
                        <option value="lname">Last Name</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><button type="submit">Add</button></td>
            </tr>
        </table>
</body>
</html>