<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1 style="color:Blue" > HIIII</h1>
<table>
    <tr><td><a href="form">form</a></td></tr>
    <tr><td><a href="about">about</a></td></tr>
    <tr><td><a href="Addition">Add Two Numbers</a></td></tr>
    <tr><td><a href="Calculator">Calculator</a></td></tr>
    <tr><td><a href="registration">Register New Student</a></td></tr>
    <tr><td><a href="ShowStudentData">Show Registered Students Data</a></td></tr>
    <tr><td><a href="filterStud">Show Registered Students Data filter</a></td></tr>
    <tr><td><a href="regiEmp">Register New Employee</a></td></tr>
    <tr><td><a href="ShowEmpData">Show Registered Employees Data</a></td></tr>
    <tr><td><a href="studLogin">Student Login</a></td></tr>
</table>
</body>
</html>