<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
{% include 'msg.html' %}
   <table>
       <tr>
           <td> <a href="userReg">Register New User</a></td>
       </tr>
       <tr>
           <td><a href="userLogin">User Login</a></td>
       </tr>
   </table>
<script>
    setTimeout(function(){
    if ($('#msg').length>0)
    {
    $('#msg').remove();
    }
    },3000)
</script>
</body>
</html>